.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-minimal {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Firefox */
}

.scrollbar-minimal::-webkit-scrollbar {
  width: 4px; /* Chrome, Safari, Opera */
  height: 4px; /* Chrome, Safari, Opera */
}

.scrollbar-minimal::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Chrome, Safari, Opera */
  border-radius: 2px;
}
